{{#if msg.info}}
<div class="message">
    {{msg.info}}
</div>
{{/if}}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <!-- Table for Contactable Team Members  -->
    <table class="table table-hover table-striped">
      <tbody>
        {{#users}}
        <tr>
          <td>
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle" width="60">
          </td>
          <td>
            <h4><b>{{name}} {{surname}}</b></h4>
            <a href="mailto:{{email}}">{{email}}</a>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-success" value="left" type="button">
                <span class="glyphicon glyphicon-earphone"></span>{{state}} <!--Off / Online-->
              </button>
              <button class="btn btn-info" value="right" type="button">
                <span class="glyphicon glyphicon-user"></span>See Profile</button>
              </div>
            </td>
          </tr>
          {{/users}}
        </tbody>
      </table>
      <!-- End of Table for Available team members -->
    </div>
  <div class="col-md-3"></div>
</div>

{{#no_users}}
  <p>No users available yet. Add some above.</p>
{{/no_users}}
